* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    color: white; 
    background-color: #23252C;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 317px
}

.info > img {
    width: 317px
}

.info > h1 {
    font-weight: 700;
    font-size: 25px;
     
}

.info > h4 {
    margin-top: 0;
    font-weight: 400;
    font-size: 13px;
     
}

.info > p {
    font-weight: 400;
    font-size: 10px;
    margin-top: 0;
}

.info > button {
    background-color: white;
    width: 247px;
    height: 34px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500px
}

.info > button > img {
    width: 12.8px;
}

.about > h2 {
    font-size: 16;
    font-weight: 700px;
    width: 247px;
    margin-left: 35px
}

.about > p {
    font-size: 10.24px;
    font-weight: 400px;
    width: 247px;
    line-height: 15.36px;
    margin-left: 35px
}

.footer {
    width: 317px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    padding-left: 48.5px;
    padding-right: 48.5px
}

.footer > img {
    width: 25px;
    height: 25px;
}

.main {
    width: 317px;
    background-color: #1A1B21;
    border-radius: 10px;
    margin: 44px 117px
}